<div class="form-data">
    <form action="/courses/create" method="POST">
        <label for="txtName">title</label>
        <input type="text" name="title" id="txtTitle" autofocus required>
        <label for="txtEmail">Description</label>
        <input type="test" name="description" id="txtDescription" required>
        <label for="txtZipCode">Max Enrollment</label>
        <input type="text" name="maxEnrollment" id="txtMaxEnrollment" required>
        <label for="txtZipCode">Price</label>
        <input type="text" name="cost" id="txtCost" required>
        <button type="submit"></button>
    </form>
</div>