<div class="container">
    <div clas="col-sm-6">
        <img src="img/cat.jpeg">

    </div>
    <div class="col-sm-6">
        <h1>OOPS! The page you're looking for does not exist!</h1>
    </div>
</div>