<div class="container">
    <div class="col-sm-6">
        <img src="img/people.jpeg">
    </div>
    <div class="col-sm-6">
        <h1>Welcome to Confetti Cuisine</h1>
        <p>Please check out our amazing courses by our creative instructor chefs!</p>
        <p>If you want to see a new course, click <a href="/courses">the course page.</a></p>
        <p>When you see a course tha tyou like, you can <a href="/contact">contact us.</a></p>
    </div>
</div>