<div class="container">
    <div class="list-container">
        <% subsribers.forEach( sub=> { %>
            <div class="subsribers">
                <p>
                    <span class="item-label">
                        <% sub.name %>
                    </span>
                </p>
                <p>
                    <span class="item-label">
                        <% sub.email %>
                    </span>
                </p>
            </div>
           <% }) %>
    </div>
</div>